<link rel="stylesheet" href="/resurse/css/galerie.css">
<div class="galerie-grid">
    <% if (galerie && galerie.imagini && galerie.imagini.length > 0) { %>
        <% galerie.imagini.slice(0, 12).forEach(function(img, idx) { %>
            <figure class="galerie-item">
                <img src="/<%= galerie.cale_galerie %><%= img.cale_fisier %>"
                     alt="<%= img.alt %>"
                     title="<%= img.text_descriere %>">
                <figcaption>
                    <%= img.titlu %>
                </figcaption>
            </figure>
        <% }) %>
    <% } else { %>
        <p>Nu există imagini pentru luna selectată.</p>
    <% } %>
</div>